# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# bin
bin/

# AI
.claude/
.agents/
.zcode/

# Python
.venv/

# CodeArt
.arts/*

# Zed
.zed/

# Cursor
.cursor/

# Rust
/target

# Tauri
**/gen/schemas

# CodeGraph
.codegraph/
