/* apps/ui/src/styles/index.css */
@import "tailwindcss";
@import "./themes/_palette.css";
@import "./themes/light.css";
@import "./canvas.css";

@theme {
    /* === 1. 侧边栏 === */
    --color-sidebar-bg: var(--sidebar-bg);
    --color-sidebar-fg: var(--sidebar-fg);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-active-bg: var(--sidebar-active-bg);
    --color-sidebar-active-fg: var(--sidebar-active-fg);
    
    /* === 2. 顶部栏 === */
    /* 顶部栏背景色 */
    --color-header-bg: var(--header-bg);
    
    /* 面包屑字体颜色 */
    --color-header-fg: var(--header-fg);
    
    /* 面包屑图标高亮颜色 */
    --color-header-milestone: var(--header-milestone);
    
    /* 面包屑背景颜色 */
    --color-header-breadcrumb-bg: var(--header-breadcrumb-bg);
    
    /* 面包屑光标颜色 */
    --color-header-breadcrumb-accent: var(--header-breadcrumb-accent);
    
    /* 顶部栏图标和背景颜色 */
    --color-header-icon: var(--header-icon);
    --color-header-icon-muted: var(--header-icon-muted);
    --color-header-icon-bg: var(--header-icon-bg);
    
    /* 窗口控制 */
    --color-window-control-minimize: var(--window-control-minimize);
    --color-window-control-toggle-maximize: var(--window-control-toggle-maximize);
    --color-window-control-close: var(--window-control-close);
    
    /* === 3. 主体背景 === */
    /* 主体区域背景色 */
    --color-main-bg: var(--main-bg);
    --color-main-fg: var(--main-fg);
    
    /* === 4. SciSpirit === */
    --color-spirit-welcome-atomsphere: var(--spirit-welcome-atomsphere);
    
    /* === 4.1 WelcomeBoard === */
    /* Bot */
    --color-spirit-welcome-bot-bg: var(--spirit-welcome-bot-bg);
    --color-spirit-welcome-bot-border: var(--spirit-welcome-bot-border);
    
    /* Sparkles */
    --color-spirit-welcome-sparkles-bg: var(--spirit-welcome-sparkles-bg);
    --color-spirit-welcome-sparkles-border: var(--spirit-welcome-sparkles-border);
    --color-spirit-welcome-sparkles-fill: var(--spirit-welcome-sparkles-fill);
    
    /* FlaskConical */
    --color-spirit-welcome-flaskconical-bg: var(--spirit-welcome-flaskconical-bg);
    --color-spirit-welcome-flaskconical-border: var(--spirit-welcome-flaskconical-border);
    --color-spirit-welcome-flaskconical-fill: var(--spirit-welcome-flaskconical-fill);
    
    /* TODO: 有待重构规整 */
    /* 画布 */
    --color-canvas-grid: var(--canvas-grid);
    --color-canvas-edge: var(--canvas-edge);

    /* 操作卡片 */
    --color-action-bg: var(--action-bg);
    --color-action-fg: var(--action-fg);

    /* 节点 */
    --color-node-bg: var(--node-bg);
    --color-node-border: var(--node-border);
    --color-node-fg-title: var(--node-fg-title);
    --color-node-fg-desc: var(--node-fg-desc);

    /* 基础色直接映射 */
    --color-forest: var(--color-forest);
    --color-honey: var(--color-honey);
}

body {
    /* 1. 确保背景色填满 */
    @apply bg-main-bg text-main-fg; /* 使用 Tailwind 类名，更简洁 */
    /* 2. 兜底逻辑 */
    margin: 0;
    /* 3. 字体栈 (Tailwind 默认 font-sans 已经包含了这套优秀的字体栈，可以简化) */
    @apply font-sans antialiased;
}
